{{!-- Overall look and feel of your app, contains all elements that are show globally --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- Jumbotron --}}
    {{!-- navigation bar --}}
    {{!-- body indicates where content of each partial view will be rendered --}}
    {{{body}}}
    {{!-- Bootstrap JS --}}
  </body>
</html>
